<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
</head>
<body>
    <div class="content">
        <h1>This ia a my application heading </h1>
        <p style="margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magni est reiciendis eum aliquid illo perferendis ad quibusdam facilis odit, quo mollitia beatae animi labore, molestiae expedita, tenetur aspernatur obcaecati ratione maiores rem sequi voluptatem. Magni voluptatum vitae repudiandae molestiae consequatur, voluptate quos velit sed animi reprehenderit, maxime porro nihil.</p>
    </div>
    <div class="content2">
        <h3>welcome !</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat praesentium illum vel ex inventore atque accusamus saepe nobis iure nulla sapiente nemo ducimus explicabo voluptatibus quas, sint distinctio tenetur fuga. Similique non eligendi nam, quis ducimus soluta. Laudantium illo suscipit nemo, itaque delectus vero iure unde molestiae. Enim, consequuntur est! </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error minima tempore quisquam id blanditiis! Quos, omnis mollitia reprehenderit illum ratione cum, recusandae impedit consectetur, magni beatae veritatis voluptatibus perspiciatis voluptatum quam totam. Doloremque placeat quidem autem molestias sequi non porro sit adipisci harum impedit, natus labore repellat ab, quo maxime, eaque doloribus accusamus. Dignissimos, minus soluta porro sit sapiente quidem?</p>

    </div>
    <div class="contact">
        <h3>Contact</h3>
        <p>You need to first login to contact, if doesn't have user id and password, you can create it. <a href="/login">login</a></p>
    </div>
</body>
</html>