<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
</head>
<body>
    <div class="content">
        <h1>This ia a my application heading </h1>
        <p style="margin-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magni est reiciendis eum aliquid illo perferendis ad quibusdam facilis odit, quo mollitia beatae animi labore, molestiae expedita, tenetur aspernatur obcaecati ratione maiores rem sequi voluptatem. Magni voluptatum vitae repudiandae molestiae consequatur, voluptate quos velit sed animi reprehenderit, maxime porro nihil.</p>
    </div>
</body>
</html>